name: Linux

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: "recursive"

    - name: Vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 4a600e9fea71bd7872080cbb716797e04d30e6d3

    - name: Dependencies
      run: |
        sudo apt-get install g++-multilib gcc-multilib
        sudo dpkg --add-architecture i386
        sudo apt-get install nasm:i386 paxctl:i386 libtommath-dev:i386

    - name: Build
      run: ./install.sh
