name: Windows

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: "recursive"

    - name: MinGW
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW32

    - name: NASM
      uses: ilammy/setup-nasm@v1

    - name: Vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 4a600e9fea71bd7872080cbb716797e04d30e6d3

    - name: Build
      run: |
        gcc --version
        ./ci.bat
